<div id="demoContainer" class="container-fluid">
    <div class="row">
        <div class='panel col-xs-3 imgCell'>
            <h4>{{title}}</h4>
            <div>
                <a *ngFor="let item of demos" [routerLink]="['', item.url]" [queryParams]="{title: item.title}">{{item.title}}</a>
            </div>
        </div>

        <div class='panel col-xs-7 col-xs-offset-1'>
            <h4>{{demoName}}</h4>
            <div class="workbench">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>