<div class="section">
  <h4>List of Employees - Nested</h4>
  <div fxLayout="column" fxLayoutGap="10px">
    <div *ngFor="let p of persons">
      <app-person-edit
        [person]="p"
        [edit]="true"
        #personRef
        (savePerson)="savePersonToDB($event)"
      ></app-person-edit>
      <a (click)="personRef.doDelete()">Delete Person</a>
    </div>
  </div>
  <!-- 
  <ul>
    <li *ngFor="let p of persons">
      <app-person-edit [person]="p" [edit]="false" #personRef (savePerson)="savePersonToDB($event)"></app-person-edit>
      <a (click)='personRef.doDelete()'>Delete Person</a>
      <hr>
    </li>
  </ul> -->
</div>
