@import "./theme/style-vars.scss";
@import "./theme/mixins.scss";
@import "./theme/theme.scss";
@import "./theme/bars.scss";
@import "./theme/mat-overrides.scss";
@import "./theme/flex.scss";
@import "./theme/form.scss";
@import "./theme/boxes.scss";

a {
  cursor: pointer;
}

.spacedRow {
  margin-top: 1rem;
}

body {
  padding: 10px;
  background-color: $lightBackground;
}

.sidebar-module,
.navbar-inverse {
  background-color: $darkBackground;
}

.rightCell {
  text-align: right;
}

.btn-xs {
  padding: 1px 5px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
  background-color: $lightBackground;
}
